body{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}
#main{
    margin: 10px;
    padding: 5px;
    background: #EFF5F5;
    
}
#title{
    font-size: 2.5rem;
}

#img-div{
    border: 3px solid black;
    border-radius: 20px;
    padding: 25px 0;    
}
img{
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#image{
    max-width: 100%;
}
#img-caption{
  font-style: italic;
  padding: 5px
}
#headline{
    margin: 30px 0;
}
li{
    margin: 16px 0;
    padding: 5px;
}
blockquote{
    font-style: italic;
    font-size: 1.2rem;
    text-align: center;
    margin: 35px;
    padding: 4px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
#tribute-info{
  max-width: 850px;
  margin: 0 auto 20px auto;
  text-align: left;
}